
@charset"UTF-8";
/*共通*/

/*共通ロゴ*/

img.logo{
    width: 200px;
    height: auto;
    margin:3% 0 0 0 ;
}
h1.logo{
    text-align:center;
}

/* index【開始】 */

/* index 背景カフェ */
body#home{
    background:url(img/main-bg.jpg)center center /cover no-repeat fixed;
    height:100vh;
}

/* indexロゴ */


/* index　navi(news, menu, contact) */   

nav{
    color:black;
    text-align: center;
    margin:10px auto;
}
nav ul{
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:6px;
    list-style-type:none;
}
nav a{
    display:block;
    border-radius:4px;
    padding:12px 24px;
    color:black;
    text-decoration:none;
}

/* index "h2" We'll make your Day" */
h2.index{
    margin:10% 0;
    font-family: 'Philosopher', sans-serif;
    font-size: 2.0em;
    width:100%;
    text-align: center;
}

/* indexギフテッドな・・・リフレッシュ */
section.iyasare{
    margin:10% 0 10% 0;
    text-align:left;
    width:100%;
    line-height: 1.5em;
}

/* index　【ボタン】メニューを見る */
aside.index{
    text-align: center;
}
.button1{
    width:170px;
    background-color: deepskyblue;
    border: solid 2px deepskyblue;
    border-radius: 2px 2px 2px 2px;
    color: white;
    padding:10px;
    line-height:2em;
}
a.indexbutton{
text-decoration: none;
width:100%;
}
/* index【終了】 */




